<div class="container border p-5">
  <%= form_with(model: student, local: true) do |form| %>
    <h1><%= action %> Aluno</h1>

    <div class="field">
      <%= form.label :matricula %>
      <%= form.text_field :matricula, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :sexo %>
      <%= form.text_field :sexo, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :estado_civil %>
      <%= form.text_field :estado_civil, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :filiacao %>
      <%= form.text_field :filiacao, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :endereco %>
      <%= form.text_field :endereco, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :telefone %>
      <%= form.text_field :telefone, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :esporte_preferido %>
      <%= form.text_field :esporte_preferido, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :escolaridade %>
      <%= form.text_field :escolaridade, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :naturalidade %>
      <%= form.text_field :naturalidade, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :cidade %>
      <%= form.text_field :cidade, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :uf %>
      <%= form.text_field :uf, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :pais %>
      <%= form.text_field :pais, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :cargo %>
      <%= form.text_field :cargo, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :cpf %>
      <%= form.text_field :cpf, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :identidade %>
      <%= form.text_field :identidade, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit "Enviar", class: "text-center btn btn-dark" %>
    </div>
  <% end %>
</div>

