<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @student.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @student.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @student.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @student.estado_civil %>
</p>

<p>
  <strong>Filiacao:</strong>
  <%= @student.filiacao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @student.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @student.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Esporte preferido:</strong>
  <%= @student.esporte_preferido %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @student.escolaridade %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @student.naturalidade %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @student.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @student.uf %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @student.pais %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @student.cargo %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @student.cpf %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @student.identidade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
