<div class="row align-items-center justify-content-center my-3 w-100 d-flex" xmlns="http://www.w3.org/1999/html">
  <div class="box w-100 mx-4 p-4 shadow ">
    <div class="text-center p-2">
      <h3 class="text-center">Aluno</h3>
      <%= link_to 'Editar Aluno', edit_student_path(@student), class: "m-2 btn btn-dark" %>
    </div>
    <div class="table-responsive" id="table-section">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">Matricula</th>
          <td><%= @student.matricula %></td>
        </tr>
        <tr>
          <th scope="row">Nome</th>
          <td><%= @student.nome %></td>
        </tr>
        <tr>
          <th scope="row">Sexo</th>
          <td><%= @student.sexo %></td>
        </tr>
        <tr>
          <th scope="row">Estado civil</th>
          <td><%= @student.estado_civil %></td>
        </tr>
        <tr>
          <th scope="row">Filiacao</th>
          <td><%= @student.filiacao %></td>
        </tr>
        <tr>
          <th scope="row">Endereco</th>
          <td><%= @student.endereco %></td>
        </tr>
        <tr>
          <th scope="row">Telefone</th>
          <td><%= @student.telefone %></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td><%= @student.email %></td>
        </tr>
        <tr>
          <th scope="row">Esporte preferido</th>
          <td><%= @student.esporte_preferido %></td>
        </tr>
        <tr>
          <th scope="row">Escolaridade</th>
          <td><%= @student.escolaridade %></td>
        </tr>
        <tr>
          <th scope="row">Naturalidade</th>
          <td><%= @student.naturalidade %></td>
        </tr>
        <tr>
          <th scope="row">Cidade</th>
          <td><%= @student.cidade %></td>
        </tr>
        <tr>
          <th scope="row">Uf</th>
          <td><%= @student.uf %></td>
        </tr>
        <tr>
          <th scope="row">País</th>
          <td><%= @student.pais %></td>
        </tr>
        <tr>
          <th scope="row">Cargo</th>
          <td><%= @student.cargo %></td>
        </tr>
        <tr>
          <th scope="row">Cpf</th>
          <td><%= @student.cpf %></td>
        </tr>
        <tr>
          <th scope="row">Identidade</th>
          <td><%= @student.identidade %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center p-5">
      <%= link_to 'Voltar', students_path, class: "d-flex btn btn-dark" %>
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-center my-3 w-100 d-flex" xmlns="http://www.w3.org/1999/html">
  <div class="box w-100 mx-4 p-4 shadow ">
    <div class="text-center p-2">
      <h3 class="text-center">Cursos Inscritos</h3>
    </div>
    <div class="table-responsive" id="table-section">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Data Início</th>
            <th scope="col">Data Fim</th>
          </tr>
        </thead>

        <tbody>
        <% @student.courses.each do |course| %>
          <tr>
            <td><%= link_to course.codigo, course_path(course) %></td>
            <td><%= course.data_inicio.strftime("%d/%m/%Y") %></td>
            <td><%= course.data_fim.strftime("%d/%m/%Y") %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center p-5">
      <%= link_to 'Voltar', courses_path, class: "d-flex btn btn-dark" %>
    </div>
  </div>
</div>