<p id="notice"><%= notice %></p>

<div class="row align-items-center justify-content-center my-3 w-100 d-flex" xmlns="http://www.w3.org/1999/html">
  <div class="box w-100 mx-4 p-4 shadow ">
    <div class="text-center p-2">
      <h3 class="text-center">Professor</h3>
      <%= link_to 'Editar professor', edit_teacher_path(@teacher), class: "m-2 btn btn-dark" %>
    </div>
    <div class="table-responsive" id="table-section">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">Matricula</th>
          <td><%= @teacher.matricula %></td>
        </tr>
        <tr>
          <th scope="row">Nome</th>
          <td><%= @teacher.nome %></td>
        </tr>
        <tr>
          <th scope="row">Sexo</th>
          <td><%= @teacher.sexo %></td>
        </tr>
        <tr>
          <th scope="row">Estado civil</th>
          <td><%= @teacher.estado_civil %></td>
        </tr>
        <tr>
          <th scope="row">Filiacao</th>
          <td><%= @teacher.filiacao %></td>
        </tr>
        <tr>
          <th scope="row">Titulacao</th>
          <td><%= @teacher.titulacao %></td>
        </tr>
        <tr>
          <th scope="row">Endereco</th>
          <td><%= @teacher.endereco %></td>
        </tr>
        <tr>
          <th scope="row">Telefone</th>
          <td><%= @teacher.telefone %></td>
        </tr>
        <tr>
          <th scope="row">Cpf</th>
          <td><%= @teacher.cpf %></td>
        </tr>
        <tr>
          <th scope="row">Identidade</th>
          <td><%= @teacher.identidade %></td>
        </tr>
        <tr>
          <th scope="row">Naturalidade</th>
          <td><%= @teacher.naturalidade %></td>
        </tr>
        <tr>
          <th scope="row">Cidade</th>
          <td><%= @teacher.cidade %></td>
        </tr>
        <tr>
          <th scope="row">Uf</th>
          <td><%= @teacher.uf %></td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td><%= @teacher.email %></td>
        </tr>
        <tr>
          <th scope="row">Escolaridade</th>
          <td><%= @teacher.escolaridade %></td>
        </tr>
        <tr>
          <th scope="row">Cargo</th>
          <td><%= @teacher.cargo %></td>
        </tr>
        </tbody>

      </table>
    </div>
    <div class="d-flex justify-content-center p-5">
      <%= link_to 'Voltar', teachers_path, class: "d-flex btn btn-dark" %>
    </div>
  </div>
</div>


 
