<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @teacher.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @teacher.nome %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @teacher.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @teacher.estado_civil %>
</p>

<p>
  <strong>Filiacao:</strong>
  <%= @teacher.filiacao %>
</p>

<p>
  <strong>Titulacao:</strong>
  <%= @teacher.titulacao %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @teacher.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @teacher.telefone %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @teacher.cpf %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @teacher.identidade %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @teacher.naturalidade %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @teacher.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @teacher.uf %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @teacher.pais %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @teacher.escolaridade %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @teacher.cargo %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
