<div class="container border p-5">
  <%= form_with(model: course, local: true) do |form| %>
    <h1><%= action %> Curso</h1>

    <div class="form-group">
      <%= form.label :codigo %>
      <%= form.text_field :codigo, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :descricao %>
      <%= form.text_area :descricao, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :horas_aula %>
      <%= form.number_field :horas_aula, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :vagas_total %>
      <%= form.number_field :vagas_total, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :data_inicio %>
      <%= form.date_select :data_inicio, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :data_fim %>
      <%= form.date_select :data_fim, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :teacher_id, 'Professor' %>
      <%= form.select :teacher_id, teachers.collect { |t| [t.nome, t.id] }, {}, {class: 'form-control', include_blank: 'Professor', required: true} %>
    </div>

    <div class="actions">
      <%= form.submit "Enviar", class: 'text-center btn btn-dark' %>
    </div>
  <% end %>
</div>


