<div class="row align-items-center justify-content-center my-3 w-100 d-flex" xmlns="http://www.w3.org/1999/html">
  <div class="box w-100 mx-4 p-4 shadow ">
    <div class="text-center p-2">
      <h3 class="text-center">Cursos</h3>
      <%= link_to 'Criar Curso', new_course_path, class: "m-2 btn btn-dark" %>
      <%= link_to 'Rodar Semestre', run_semester_path, class: "m-2 btn btn-dark", method: :post, data: {confirm: "Você tem certeza?"} %>
      <div class="table-responsive">
        <table class="text-center table table-striped">
          <thead class="thead-dark">
          <tr>
            <th></th>
            <th>Codigo</th>
            <th>Descricao</th>
            <th>Horas aula</th>
            <th>Vagas total</th>
            <th>Vagas ocupadas</th>
            <th>Data inicio</th>
            <th>Data fim</th>
            <th>Teacher</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @courses.each do |course| %>
            <tr>
              <% if course.has_enough_students %>
                <td style="padding-left: 0; padding-top: 20px;" style="color: #6DC96D">
                  <i style="color: #6DC96D" class="fa fa-check"></i>
                </td>
              <% else %>
                <td style="padding-left: 0; padding-top: 20px;">
                  <i style="color: #EA6460" class="fa fa-exclamation"></i>
                </td>
              <% end %>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.codigo %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.descricao %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.horas_aula %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.vagas_total %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.vagas_ocupadas %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.data_inicio %></td>
              <td style="padding-left: 0; padding-top: 20px;"><%= course.data_fim %></td>
              <td style="padding-left: 0; padding-top: 20px;">
                <%= link_to course.teacher.nome, teacher_path(course.teacher) %>
              </td>
              <td>
                <%= link_to course do %>
                  <i class="fa fa-mail-forward"></i>
                <% end %>
              </td>
              <td>
                <%= link_to edit_course_path(course) do %>
                  <i class="fa fa-rotate-left"></i>
                <% end %>
              </td>
              <td>
                <%= link_to course, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                  <i class="fa fa-trash" style="color: #EA6460"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>